@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/Fonts/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/Fonts/qFdA35WCmI96Ajtm81kOcc7N4hoiiVI6.woff2') format('woff2');
}
