@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Light-red: hsl(356, 100%, 66%); /*-(CTA-text)*/
  --Very-light-red: hsl(355, 100%, 74%); /*(CTA hover background)*/
  --Very-dark-blue: hsl(208, 49%, 24%); /*(headings)*/

  /* ### Neutral */

  --White: hsl(0, 0%, 100%); /*(text)*/
  --Grayish-blue: hsl(240, 2%, 79%); /*(footer text)*/
  --Very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy)*/
  --Very-dark-black-blue: hsl(240, 10%, 16%); /*(footer background)*/

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* ##Typography; */
  --font-overpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

html,
body {
  font-size: 16px;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  height: 37.1875vw;
  background-image: linear-gradient(
    to right,
    var(--very-light-red),
    var(--Light-red)
  );

  /* (first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner): */

  border-radius: 0 0 0 100px;
}

.header {
  background-image: url(/images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
  background-position: -28.75vw -84.375vw;
  border-radius: 0 0 0 100px;
  position: relative;

  background-size: 200vw;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  position: relative;
}

.navigation {
  border: 3px #008000 solid;
  position: absolute;
  margin-top: 2.1375vw;
}
.logo {
}
@media (max-width: 1280px) {
  .header {
    /* background-position: -35.75vh -104.375vw; */
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (max-width: 1440px) {
  .header {
    background-size: 200vw;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (min-width: 300px) and (max-width: 675px) {
  .header-container {
    height: 37.5625rem;
  }
  .header {
    background-attachment: fixed;
    background-position: -60.75vw -45.375vw;
    background-size: 300vw;
    border-radius: 0 0 0 100px;
  }

  .container {
    margin: 0 auto;
    width: 87.5%;
  }
  .navigation {
    margin-top: 3.5625vh;
  }
  .logo {
  }
}
