@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@import "/CSS/variables.css";

html,
body {
  scroll-behavior: smooth;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  height: 37.1875vw;
  background-image: linear-gradient(
    to right,
    var(--very-light-red),
    var(--Light-red)
  );

  /* (first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner): */

  border-radius: 0 0 0 100px;
}

.header {
  background-image: url(/images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
  background-position: -28.75vw -84.375vw;
  border-radius: 0 0 0 100px;
  position: relative;

  background-size: 200vw;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.navigation {
  font-size: 2vw;
  padding-top: 2.1375vw;
  position: relative;
  font-family: var(--font-ubuntu);
  font-weight: 300;
  display: flex;

  justify-content: space-between;
}

.navigation .logo-section {
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  padding: 0 4.0625vw 0 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--textWhite);
  font-size: 1vw;
}
.arrow-light {
  transition: 0.3s ease-in;
}

nav a:hover {
  text-decoration: underline;
  color: var(--White);
}

.arrow-rotator {
  transform: rotate(180deg);
}
.nav-btn {
  border-radius: 5rem;
  padding: 1.125vw 2.5625vw;
  font-size: 1vw;
  font-weight: 600;
  color: var(--textWhite);
  background-color: transparent;
}

.btn-signup {
  color: var(--Light-red);
  background-color: var(--White);
}

.nav-btn:hover {
  color: var(--White);
  background-color: var(--hoverwhite);
}

.arrow-light-span {
  padding-left: 0.3vw;
}

.dropdown {
  position: absolute;
  visibility: hidden;
  margin-left: -2.1875vw;
  padding: 20px 0;
  max-height: 50vw;
  margin-top: 1rem;
  background-color: var(--White);
  border-radius: 0.4375rem;
  box-shadow: 4px 2px 8px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

.dropdown ul {
  display: flex;

  flex-direction: column;
}
.dropdown ul a {
  align-items: left;
  font-weight: 300;
  line-height: 2.5vw;
  font-family: var(--font-overpass);
  font-size: 1.1vw;
  padding-left: 2vw;
  position: relative;
  text-decoration: none;
  color: var(--Very-dark-black-blue);
}

.dropdown ul a:hover {
  color: var(--Very-dark-blue);
  font-weight: 600;
}

.nav-show {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

.hamber {
  position: absolute;
  right: 0;
  visibility: hidden;
}

/*mobile navigation*/

@media (max-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .hamber {
    visibility: visible;
  }

  .nav-btn {
    display: none;
  }
  .humber {
    display: block;
    visibility: visible;
  }

  .navigation {
    padding-top: 3.5rem;
    display: block;
  }

  nav {
    border-radius: 0.5rem;
    margin-top: 4.111111111111111vh;
    background-color: var(--White);

    box-shadow: 0 0 55px 10px rgba(0, 0, 0, 0.2);
  }

  nav ul {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  nav ul li {
    padding: 2.3125rem 0;
  }

  nav ul li a {
    font-size: 1.1rem;
    color: var(--Very-dark-black-blue);
  }

  .link-a:hover {
    color: var(--Very-dark-black-blue);
  }

  .arrow-light-span .arrow-light {
    margin-left: 5px;
    background-image: url(/images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    padding-bottom: 3px;
  }
  .dropdown {
    transition: none;
    box-shadow: 0 0 0 0;
    margin-left: 0;
    max-height: 9.3125rem;
    transform: translateY(-50%);
    background-color: var(--textWhite);
  }
  .nav-show {
    transform: translateY(10%);
    transition: all 0.3s ease-in-out;

    position: relative;
  }
}

@media (max-width: 675px) {
  .header-container {
    height: 37.5625rem;
  }
  .header {
    background-position: -70vh -40vh;
    background-size: 240vh 200vh;

    border-radius: 0 0 0 100px;
  }
  .container {
    margin: 0 auto;
    width: 87.5%;
  }

  .button-container {
    display: none;
  }
}
